:root {
  --font: 'Courier New', Courier, monospace;
  --size: 24px;
  --weight: bold;
  --sidebar-width: 240px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: cornsilk;
  background-image: url("grid.jpg");
}

#input-container {
  width: calc(100vw - 20px);
  padding: 10px;
  background-color: grey;
  height: 35px;
}

#input-text {
  border: none;
  padding: 5px 5px 0px 5px;
  margin: 0;
  width: calc(100% - 10px);

  font-size: 20px;
  font-size: var(--size);
  font-family: var(--font);
  font-weight: var(--weight);

  background-color: #ffffff30;
  transition: 200ms linear background-color;
}

#input-underline {
  height: 4px;
  width: 100%;
  background-color: rgb(60, 151, 204);
  transition: 100ms ease-in transform;

  transform: scaleY(0);
  transform-origin: top;
}

#input-text:focus {
  outline: none;
  background-color: rgba(170, 207, 202, 0.297);
}

#input-underline.focuses {
  transform: scaleY(1);
}

#input-highlights,
.token-highlights-parent {
  width: calc(100% - 30px);
  height: 22px;

  position: absolute;
  left: 15px;
  top: 17px;

  pointer-events: none;

  display: flex;
  justify-content: start;
}

.highlights {
  height: 100%;
  font-size: 20px;
  font-size: var(--size);
  font-family: var(--font);
  font-weight: var(--weight);

  white-space: pre;
  color: transparent;
  display: inline-block;
  opacity: 0.3;
}

#truth-table {
  max-height: calc(100vh - 81px);
  max-width: calc(100vw - 26px - var(--sidebar-width));
  margin: 8px;
  /* gap: 2px; */
  
  display: inline-grid;

  /* background-color: black;  */
  /* grid-template-columns: repeat(2, auto); this set in JS */
  overflow: auto;
  border: solid black 5px;
}

#truth-table:empty {
  display: none;
}

.truth-table-items {
  /* border: solid black 2px; */
  /* width: 100px; */
  background-color: #91a8bf;

  font-size: var(--size);
  font-family: var(--font);
  font-weight: var(--weight);

  
  text-align: center;
  overflow-x: visible;
  /* overflow-y: hidden; */
  height: 27px;
  
  border-left: solid black 2px;
  border-top: solid black 2px;
  padding: 10px 10px 5px 10px;

  position: relative;
  
  user-select: none;
  
  transition: height 200ms, padding 200ms, border-width 100ms;

  white-space: nowrap;
}

.truth-table-items.hiddens {
  /* height: 0px;
  padding: 0px;
  border-width: 0px; */
  display: none;
}

.trues {
  background-color: #b9ddb9 !important;
}

.falses {
  background-color: #e3b5b5 !important;
}

.truth-table-items.headers {
  border-top: none;
}

.truth-table-items.row-starts {
  border-left: none;
}

.truth-table-texts {
  transform-origin: top left;
  transform: scale(1);

  position: relative;
  left: 0px;
  top: 0px;

  transition: transform 200ms ease-in-out, top 200ms ease-in-out, left 200ms ease-in-out;
}

.truth-table-items:hover > .truth-table-texts,
.truth-table-items.trues > .truth-table-texts,
.truth-table-items.falses > .truth-table-texts {
  transform: scale(0.8);
  left: -5px;
  top: -5px;
}

.truth-table-inputs {
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 0px;

  left: 0px;
  bottom: 0px;

  transition: height 200ms ease-in-out, width 150ms ease-in-out;
}

.truth-table-inputs > button {
  width: 50%;
  text-align: center;
  padding: 0px;

  top: -8px;
  position: relative;

  font-size: calc(var(--size) * 0.5);
  font-family: var(--font);
  font-weight: var(--weight);
}

.truth-table-inputs > button {
  cursor: pointer;
}

.truth-table-items.trues > .truth-table-inputs > .inputs-trues,
.truth-table-items.falses > .truth-table-inputs > .inputs-falses {
  width: 100%;
}

.truth-table-items.falses > .truth-table-inputs > .inputs-trues,
.truth-table-items.trues > .truth-table-inputs > .inputs-falses {
  display: none;
}


.truth-table-items:hover > .truth-table-inputs,
.truth-table-items.trues > .truth-table-inputs,
.truth-table-items.falses > .truth-table-inputs {
  /* display: block; */
  height: 17px;
}

.token-elements {
  display: inline-block;
  /* margin-left: 5px; */

  font-size: var(--size);
  font-family: var(--font);
  font-weight: var(--weight);
}

.token-elements:first-child {
  margin: 0px;
}

.highlights.token-highlights {
  font-size: var(--size);
  font-family: var(--font);
  font-weight: var(--weight);
  pointer-events: all;
  user-select: none;
  /* padding-left: 5px; */
  word-wrap: none;
}

.highlights.token-highlights:first-child {
  padding-left: 0px;
}

.highlights.token-highlights:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.eq-holders {
  position: relative;
}

.token-highlights-parent {
  top: 2px;
  left: 0px;
}

#errs {
  position: absolute;
  left: 0px;
  top: 55px;
  width: calc(100vw - var(--sidebar-width) - 26px);

  background-color: #ffa9a9;
  padding: 5px;
  margin: 5px;
  
  border: 2px red solid;
}

#errs::before {
  content: "Warning!: ";
  color: #a50000;
}

#errs:empty {
  display: none;
}

#text-insights {
  position: absolute;
  top: 55px;
  right: 0px;

  height: calc(100vh - 55px);
  width: var(--sidebar-width);

  background-color: #a0b0cf;
  border-left: black 2px solid;
  overflow: hidden;
}


#pico-copyright {
  position: absolute;
  bottom: 2px;
  left: 50%;
  white-space: nowrap;

  transform: translateX(-50%);

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.stats {
  padding: 5px;
  border-bottom: solid black 2px;

  font-weight: bold;
  color: #2300a7;
  font-family: 'Times New Roman', Times, serif;
}

.stats:hover {
  cursor: pointer;
  background-color: #9fdbdd !important;
}

.stats::after {
  font-weight: normal;
  color: black;
}

#variables-count:not(:empty)::after {
  content: " variable(s)";
}

#variables-count:empty::after {
  content: "No variables entered";
}

#combinations-count:not(:empty)::after {
  content: " combination(s)";
}

#combinations-count:empty::after {
  content: "No variables entered";
}

#proposition-type:empty::after {
  content: "Not a proposition"
}

#proposition-type {
  text-align: center;
  color: black;
  background-color: #90cfa0;
}

#rpln-representation {
  font-weight: normal;
  font-style: italic;
  color: black;
}

#rpln-content:empty::after {
  content: "Not a proposition";
  color: #714900;
}

.RPLN-tokens {
  display: inline-block;
  padding: 0px 2px 0px 2px;

  /* font-size: var(--size); */
  font-family: var(--font);
  font-weight: var(--weight);
  word-wrap: break-word;
}

.RPLN-tokens:hover {
  cursor: pointer;
  background-color: #e5cd99;
  font-size: 1.2rem;
}

#help {
  color: black;
  font-weight: normal;
}

#help-title {
  text-align: center;
  margin-bottom: 3px;
}

.category {
  border-top: dashed black 2px;
  padding: 2px;

  font-family: var(--font);
  font-weight: var(--weight);
}

.category > span:first-child {
  color: #651e7b;
}

.category > span:not(.no-select) {
  padding: 2px;
}

.category > :not(.no-select):hover {
  background-color: #e5cd99;
  font-size: 1.2rem;
}